@model MyVet_Cf.Web.Models.HistoryViewModel

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear</h2>

<h4>Historia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddHistory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetId" />

            <partial name="_History" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="DetailsPet" asp-route-id="@Model.PetId" class="btn btn-success">Regresar a Mascota</a>
            </div>
        </form>
    </div>
</div>
