@model MyVet_Cf.Web.Models.PetViewModel

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear</h2>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPet" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OwnerId" />

            <partial name="_Pet" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.OwnerId" class="btn btn-success">Volver al Propietario</a>
            </div>
        </form>
    </div>
</div>


