@{
    ViewData["Title"] = "Confirmación de Correo";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar su correo. Ahora te puedes autenticar dentro del sistema..
    </p>
</div>
